{% extends "base.html" %}
{% load static %}
{% block extend_css %}
    <link rel="stylesheet" href="{% static "css/accounts/login.css" %}">
{% endblock extend_css %}
{% block content %}
    <div class="login">
        <div class="login-box">
            <div class="login-input-area">
                {% if messages %}
                    {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
                {% endif %}
                <div class="title">남도청년 B2B</div>
                <div class="sub-title">가입 시 등록한 정보로 아이디를 확인하세요</div>
                <div class="input-area">
                    <div>
                        <form method="post" class="login-form">
                            {% csrf_token %}
                            <input class="input" name="phone" type="text" placeholder="가입 시 등록한 번호" required>
                            <input class="input" name="email" type="text" placeholder="가입 시 등록한 이메일" required>
                            <button type="submit" class="login-btn">아이디 찾기</button>
                        </form>
                        <div class="find-area">
                            <a href="{% url "accounts:pw_search" %}">
                                <span class="find">비밀번호</span>
                            </a>
                            <span>찾기</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
